# Added from https://raw.githubusercontent.com/github/gitignore/master/Composer.gitignore
composer.phar
/vendor/
# Added from https://raw.githubusercontent.com/github/gitignore/master/Sass.gitignore
.sass-cache/
*.css.map
# Added By CLI
*.swp
\#runtime
phpmyadmin
