@charset "utf-8";
/* CSS Document */
/*上半部分*/
.content_up{width:1000px; margin:20px auto; overflow:hidden;}
.content_up .dongtai{width:700px; overflow:hidden;}
.left_title{
	width:700px;
	height:40px;
	background: -webkit-linear-gradient(#ffffff, #e4e4e4); /* Safari 5.1 - 6.0 */
 	background: -o-linear-gradient(#ffffff, #e4e4e4); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(#ffffff, #e4e4e4); /* Firefox 3.6 - 15 */
  	background: linear-gradient(#ffffff, #e4e4e4); /* 标准的语法 */
	
}
.dt_cont{width:700px;overflow:hidden;}
.dt_cont .cont_part{width:330px;margin-top:15px;}
.cont_part .part_title{width:330px;overflow:hidden;}
.part_title p{float:left;display:block;width:95px;height:34px;line-height:34px;background:url(../images/title_bg.png) no-repeat;text-align:left;font-size:15px;color:#fff;padding-left:26px;}
.part_title a{float:right;padding:10px 5px 0 0;font-size:12px;color:#666; cursor:pointer;}
.part_title span:hover{ text-decoration:underline; color:#0062bf}
.part_list{width:280px;height:200px;background:#fff;padding:20px 25px}
.part_list ul li{font-size:13px;height:25px;line-height:25px;}
.part_list ul li img{ vertical-align:middle; margin-right:5px;}
.part_list ul li a{ vertical-align:middle;}

/*图片轮播*/
.part_img{width:320px;height:220px;background:#fff;padding:20px 5px 0 5px;}
.example1{}
.example1 ol{position:relative;width: 160px;height: 20px;top:-30px;left:100px;}
.example1 ol li{float:left;width: 20px;height: 20px; line-height:20px;margin: 5px;background: #fff; text-align:center; font-size:12px; list-style:none; cursor:pointer;}
.example1 ol li.seleted{background: #5b89d6;color:#fff;}
.luara-top{position:relative;padding:0;overflow: hidden;}
.luara-top ul{position: relative;padding: inherit;margin: 0;}
.luara-top ul li{padding: inherit;margin: inherit;list-style: none;}
.luara-top ul li img{width: inherit;height: inherit;}
/*图片轮播结束*/


.up_right{width:260px;}
.up_right .wap{width:230px; height:40px; border-radius:6px; padding:0 15px; background:#5b89d6; cursor:pointer;}
.up_right .wap:hover{ background:#0062bf;}
.up_right .wap span{line-height:40px; color:#fff; font-size:15px; font-weight:bold; margin-right:8px;}
.gonggao{width:260px;margin-top:15px;overflow:hidden;}
.gg_title{width:260px;height:34px;border-bottom:#d5d5d5 1px solid;}
.gonggao a{padding:10px 5px 0 0;font-size:12px;color:#666;cursor:pointer;}
.gonggao a:hover{ text-decoration:underline; color:#0062bf}
.gg_cont{width:210px;height:90px;background:#ffffff;padding:10px 25px;}
.gg_cont ul li{font-size:13px;height:30px;overflow:hidden;}
.gg_cont ul li img{vertical-align:middle;}
.gg_cont ul li a{font-size:13px;line-height:30px;vertical-align:middle;margin-left:5px;}
.enter{width:260px;padding-top:14px;}
.enter ul li{width:260px;height:50px;overflow:hidden;margin-bottom:9px; background:#fff; cursor:pointer;}
.enter ul li:hover{width:258px;height:48px;border:1px solid #5b89d6}
/*banner图*/
.banner{width:1000px;height:120px;margin:20px auto 15px auto;}
/*下半部分*/
.content_down{width:1000px; margin:20px auto; overflow:hidden;}
.down_left{width:700px;overflow:hidden;margin-top:5px;}
.hall_cont{width:670px;height:255px;padding:25px 15px; background:#ffffff;margin-top:10px;overflow:hidden;}
.hall_cont a{float:left;width:110px;margin:0 12px 15px 12px }

.down_right{width:260px;background:#fff;margin-top:5px;}
.sun_title{width:110px;height:34px;margin:-5px auto 0 auto; background:url(../images/title_5.png) no-repeat; text-align:center; line-height:34px; color:#fff; font-size:15px; font-weight:bold;}
.sun_cont{width:230px;margin:20px auto;}
.sun_cont a{display:block;width:226px;height:44px;border:2px solid #5b89d6;background:#e3edff;margin-bottom:11px;overflow:hidden;}
.sun_cont span.sun_img{margin:0 10px;}
.sun_cont span.sun_text{line-height:46px;font-size:15px;margin-left:5px;color:#000;}
.sun_cont span.sun_text:hover{color:#0062bf}

