@charset "utf-8";
/* CSS Document */
/*上半部分*/
.content_up{width:1000px; margin:20px auto; overflow:hidden;}
.content_up .up_left{width:700px; overflow:hidden;}
.left_title{
	width:700px;
	height:40px;
	background: -webkit-linear-gradient(#ffffff, #e4e4e4); /* Safari 5.1 - 6.0 */
 	background: -o-linear-gradient(#ffffff, #e4e4e4); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(#ffffff, #e4e4e4); /* Firefox 3.6 - 15 */
  	background: linear-gradient(#ffffff, #e4e4e4); /* 标准的语法 */
	
}
.left_title span{display:block;width:130px;height:40px;line-height:40px;padding-left:30px;font-size:16px; font-weight:bold; color:#fff;background:url(../images/title.png);}
/*内容详情css*/
.up_left_cont{width:700px;min-height:472px;}
.up_left_cont h3{display:block;width:640px;padding:25px 30px;line-height:25px;background:#fff;color:#000;text-align:center;font-size:20px;}
.up_left_cont p.details_time{width:680px;padding:3px 10px 3px 10px;color:#0062bf;font-size:13px;overflow:hidden;}
.details_text{width:640px;padding:30px 30px;background:#fff;font-size:13px;line-height:24px;}
.details_text p{ text-indent:2em; }
/*右侧css*/
.up_right{width:260px;}
.gonggao{width:260px;overflow:hidden;}
.gg_title{width:260px;height:34px;border-bottom:#d5d5d5 1px solid;}
.gonggao a{padding:10px 5px 0 0;font-size:12px;color:#666;cursor:pointer;}
.gonggao a:hover{ text-decoration:underline; color:#0062bf}
.gg_cont{width:210px;height:90px;background:#ffffff;padding:10px 25px;}
.gg_cont ul li{font-size:13px;height:30px;overflow:hidden;}
.gg_cont ul li img{vertical-align:middle;}
.gg_cont ul li a{font-size:13px;line-height:30px;vertical-align:middle;margin-left:5px;}
.enter{width:260px;padding-top:14px;}
.enter ul li{width:260px;height:50px;overflow:hidden;margin-bottom:9px; background:#fff; cursor:pointer;}
.enter ul li:hover{width:258px;height:48px;border:1px solid #5b89d6}
/*右侧css结束*/

