@charset "utf-8";
/* CSS Document */

/*上半部分*/
.content_up{width:1000px; margin:20px auto; overflow:hidden;}
.content_up .up_left{width:700px; overflow:hidden;}
.left_title{
	width:700px;
	height:40px;
	background: -webkit-linear-gradient(#ffffff, #e4e4e4); /* Safari 5.1 - 6.0 */
 	background: -o-linear-gradient(#ffffff, #e4e4e4); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(#ffffff, #e4e4e4); /* Firefox 3.6 - 15 */
  	background: linear-gradient(#ffffff, #e4e4e4); /* 标准的语法 */
	
}
.left_title span{display:block;width:130px;height:40px;line-height:40px;padding-left:30px;font-size:16px; font-weight:bold; color:#fff;background:url(../images/title.png);}
/*列表css*/
.up_left_cont{width:640px;padding:20px 30px; background:#fff;margin-top:10px;min-height:472px;}
.up_left_cont .left_cont_list{padding:6px 0 20px 0;border-bottom:1px solid #cccccc}
.left_cont_list a{display:inline-block;width:80%;height:40px;line-height:40px;text-align:left;font-size:15px;}
.left_cont_list span{display:inline-block;width:20%;height:40px;line-height:40px;text-align:right;font-size:13px;color:#5b89d6}
.left_cont_list p{width:640px;color:#999;font-size:12px; text-indent:2em; line-height:22px;}
.up_left_cont .left_cont_page{width:272px;margin:15px auto;overflow:hidden;}
.up_left_cont .left_cont_page a.arr_img{display:block;float:left;height:24px;width:16px; background:#5b89d6;margin:0 4px;}
.up_left_cont .left_cont_page span{display:block;float:left;height:24px;width:24px;background:#dddddd;color:#333;margin:0 4px;text-align:center;line-height:24px;font-size:12px; cursor:pointer;}
.up_left_cont .left_cont_page span.page_sel{background:#5b89d6;color:#fff;}
/*右侧css*/
.up_right{width:260px;}
.gonggao{width:260px;overflow:hidden;}
.gg_title{width:260px;height:34px;border-bottom:#d5d5d5 1px solid;overflow:hidden;}
.gonggao a{padding:10px 5px 0 0;font-size:12px;color:#666;cursor:pointer;}
.gonggao a:hover{ text-decoration:underline; color:#0062bf}
.gg_cont{width:210px;height:90px;background:#ffffff;padding:10px 25px;}
.gg_cont ul li{font-size:13px;height:30px;overflow:hidden;}
.gg_cont ul li img{vertical-align:middle;}
.gg_cont ul li a{font-size:13px;line-height:30px;vertical-align:middle;margin-left:5px;}
.enter{width:260px;padding-top:14px;}
.enter ul li{width:260px;height:50px;overflow:hidden;margin-bottom:9px; background:#fff; cursor:pointer;}
.enter ul li:hover{width:258px;height:48px;border:1px solid #5b89d6}
/*右侧css结束*/

