body {
    margin: 0;
    padding: 0;
    font-family:Microsoft YaHei;
    color: #4b4344;
	
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0px; margin:0px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#ff9600; text-decoration:none;}

.main {
    width: 100%;
    height:auto;
    margin: 0 auto;
    position: relative;
    background:url(../images/mianbackground.png) no-repeat  ;
    overflow: hidden;
}

.content {
    width: 1000px;
    height:auto;
    margin: 0 auto;
    font-size: 16px;
}

/*--头部--*/
#top{width:1000px; height:auto; overflow:hidden}
.toper{width:1000px; height:auto; overflow:hidden}
.Logo{width:417px; height:auto; overflow:hidden; float:left; margin:37px 0px}
.content-top{width:150px; height:auto; overflow:hidden; float:right}

/*--导航栏--*/
.banner-nav{width:1000px; height:45px; background-color:#0c468c; overflow:hidden}

.banner-nav li {
    width: 91px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Verdana, Sans-serif;
    color: #ffffff;
    float: left;
    text-align: center;
	margin:0px 3px
}
.banner-nav li a {
  color:#fff;
}

.child {
    background:url(../images/nav-hover.png) no-repeat; color:#0c468c;
}

.banner-nav li:hover,
.banner-nav li.on {
    background:url(../images/nav-hover.png) no-repeat; color:#0c468c;
    cursor:pointer;
}
.banner-nav li.on a,
.banner-nav li:hover a {
    color:#0c468c;
}

#index-mian{width:1000px; height:auto; background-color:#FFF; overflow:hidden; padding:10px 0px}
.page-flip{
    width: 640px;
    padding: 20px;
    margin: 30px 20px;
}
.page-flip div{
    float: left;
    margin-right: 50px;
}
.page-num{
    width: 50px;
}

/*--二维码--*/
.erweima {
    width: 120px;
    height: 470px;
    position: fixed;
    bottom: 1%;
    left: 50%;
    margin-left: 520px;
}

.erweima img {
    margin: 10px 0;
}




/*--底部--*/
#down{width:100%; height:129px; overflow:hidden; background-color:#5997d8; text-align:center; color:#FFF; font-size:14px;  }
#down p{margin:15px auto} 
