@charset "utf-8";
/* CSS Document */
body {
  	padding:0;
    margin:0;
    font-family:"微软雅黑";
	background:#f7f7f7;
}
*{margin:0;padding:0;}
a {
   text-decoration:none; 
   list-style:none;
   color:#000;
}
a:hover{
	text-decoration:underline; 
	color:#0062bf !important;
}
ul,ul li{ margin:0;padding:0;list-style:none;}
.float_left{float:left;}
.float_right{float:right;}
.header_box{width:100%;height:200px;background:url(../images/header_bg.png) repeat-x;}
.header{width:1366px;height:200px;margin:0 auto;background:url(../images/header.png);}
.top{width:1000px;height:40px;line-height:40px;background:url(../images/top_bg.png);margin:0 auto;font-size:12px;color:#fff;}
.top a:hover{color:#fff !important;}
.top_left{display:block;float:left;margin:0 50px;}
.top_left a{padding:0 8px;font-size:12px;color:#fff;}
.top_center{ display:block;float:left;margin-left:50px;}
.top_center img{ vertical-align:middle;}
.top_search{ display:block;float:right; position:relative;}
.top_search input{border:0;height:24px;line-height:24px;color:#000;font-size:12px;width:180px; border-radius:10px; outline:none; padding:0 10px;margin:8px 50px 8px 0;}
.top_search img{ position:absolute; top:8px;right:60px;}

.nav_box{width:100%;height:44px;background:#0062bf;}
.nav_box .nav{width:1000px;line-height:44px;margin:0 auto;overflow:hidden;}
.nav_box .nav a{float:left;width:100px;line-height:44px;text-align:center;color:#fff;font-size:15px;}
.nav a.nav_select{background:#5b89d6;}
.nav a:hover{background:#5b89d6;color:#fff !important;text-decoration:none;}
.content_box{width:100%; background:#ebf3f8; overflow:hidden;}


/*底部*/
.fenzhen{
	width:1000px;
	height:40px;
	margin:10px auto; 
	background: -webkit-linear-gradient(#ffffff, #e4e4e4); /* Safari 5.1 - 6.0 */
 	background: -o-linear-gradient(#ffffff, #e4e4e4); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(#ffffff, #e4e4e4); /* Firefox 3.6 - 15 */
  	background: linear-gradient(#ffffff, #e4e4e4); /* 标准的语法 */
}
.fenzhen span{display:block;width:160px;height:40px;margin-right:120px;}
.fenzhen p{display:block;width:600px;height:40px;line-height:40px;overflow:hidden;}
.fenzhen p a{float:left;display:block;width:100px;font-size:14px;color:#333}
.link{width:960px;height:34px;background:#fff;margin:12px auto 0 auto;padding:10px 20px;overflow:hidden;}
.link span{float:left;display:block;width:100px;height:34px;line-height:34px;border-left:3px solid #0062bf;padding-left:10px;color:#0062bf;font-size:15px;}
.link_select{float:left;padding:0 5px;font-size:14px;color:#000;}
.link_select select{padding:0 10px;height:34px; border:1px solid #999;margin:0 10px 0 0;}
.link_select button{width:100px;height:34px; border-radius:4px; background:#5b89d6;border:none;color:#fff; font-weight:bold;font-size:15px;padding:0;margin:0;}
.link_select button:hover{ background:#0062bf;}
.link_img{width:940px;height:45px;background:#fff;margin:0 auto;padding:20px 30px;}
.link_img a{float:left;display:block;width:165px;padding:0 35px;}
.foot_search_box{width:100%; background:#dcdcdc; height:30px;padding:6px 0;}
.foot_search{width:1000px; background:#dcdcdc; height:30px; margin:0 auto;overflow:hidden;}
.foot_search select{padding:0 10px;height:30px; border:1px solid #999;}
.footer{width:100%; text-align:center; background:#0062bf; height:60px; line-height:60px; font-size:13px; color:#fff;}