a,body,li{color:#4b4344}
*,a,body,img,li,p,ul{margin:0;padding:0}
.main,.nav-search{position:relative}
#myjQuery,#myjQueryContent,#myjQueryNav,.banner,.main,.news-carousel,.service-menu{overflow:hidden}
.bottom-branch a,.child-menu a,.feature-service li,.introduce-info a,.link-content a,.news-active a,.service-menu a,.user-action a,a,li{text-decoration:none}
.banner-nav li,.feature-service li,.mail-connect li,.nav-search,.nav-weather,.news-active,.news-carousel,.news-title .title-child,.public-logo,.top-nav-img,.user-action,.view-window{float:left}
body{font-family:微软雅黑;}
a,li{list-style:none}
img{border:none}
.head,.main{margin:0 auto}
.main{width:100%;background:url(../images/mainbackground.png) fixed}
.head{width:1000px;height:248px;background:url(../images/top-logobg.png) 0 32px no-repeat}
.top-nav{width:1000px;height:38px;background-image:url(../images/top-nav-bg.png)}
.user-action{width:300px;height:38px;margin-right:20px}
.top-nav-img{width:21px;height:21px;margin:0 10px 0 35px;padding-top:9px}
.user-action a{color:#fff;line-height:38px;margin-right:20px}
.user-action a:hover{color:red}
.nav-weather{width:375px;height:38px;line-height:38px;vertical-align:middle;color:#fff}
.nav-search{padding-top:8px}
.nav-search .search-box{width:135px;padding-left:30px;border-radius:8px;outline:0}
.nav-search .search-btn{background-color:#f7a52c;color:#fff;font-weight:700;outline:0;padding:1px 5px}
.bianmin-lbtn,.bianmin-rbtn,.feature-menu,.service-menu{float:left;margin:0;padding:0}
.service-menu{width:880px;height:90px;margin:0 10px}
.service-menu ul{width:1120px;height:90px;margin:0;padding:0}
.feature-service li{width:80px;height:80px;margin:5px 0 5px 40px;list-style:none}
.service-menu img{margin:13px 21px 10px;width:40px;height:30px;}
.service-menu a{width:100%;text-align:center;display:block;color:#fff}
.service-menu a:hover{color:red;cursor:pointer}
.search-logo{width:16px;height:17px;position:absolute;top:12px;left:10px}
.top-logo{width:100%;height:165px;margin:0;padding:0;position:relative}
.top-logo .public-logo{width:600px;height:165px;background-image:url(../images/banner-logo_1.png);background-repeat:no-repeat;background-position:-33px -30px}
.public-logo img{width:339px;height:89px;margin:40px 0 0 250px;opacity:.1}
.top-logo .view-window{width:325px;height:165px;position:relative;margin-left:50px}
.banner,.banner-sign,.imgList{width:350px;height:165px}
.imgList{z-index:10}
.imgList li{display:none}
.imgList .imgOn{display:inline}
.banner-sign{position:absolute;left:600px;top:0}
.banner-nav{width:1000px;height:45px}
.banner-nav li{width:167px;height:45px;background:#2f6ebe;line-height:45px;font-size:20px;font-weight:700;font-family:Arial,Verdana,Sans-serif;color:#fff;text-align:center}
.banner-nav li.on,.banner-nav li:hover{background:#e5840d}
.police-news{width:1000px;height:362px;background:#fff;padding-top:13px}
.news-title{width:100%;height:37px;background-image:url(../images/news-bg.png)}
#myjQuery,#myjQueryContent,#myjQueryContent img,.news-carousel{height:300px;width:560px}
.slider{width:600px;margin:12px 20px}
.news-title img{margin:15px 10px 0 165px}
.news-title span{font-size:20px;font-weight:700;color:#0a62be;margin-top:10px}
.news-title marquee a{margin:5px 10px}
.news-title a{text-decoration:none;color:#000}
.news-title a:hover{color:red}
#myjQueryNav img,#myjQueryNav li{width:80px;height:40px}
#myjQuery{background:#000;position:relative}
#myjQueryContent div{position:absolute;height:300px}
#myjQueryContent .smask{z-index:-1}
#myjQueryContent img{border:0}
#myjQueryNav{display:block;width:560px;height:40px;position:absolute;top:260px;left:0;z-index:5;background:rgba(0,0,0,.5);text-align:center}
#myjQueryNav li{display:inline;cursor:pointer;text-align:center;margin-left:5px;background:#666;color:#fff}
#myjQueryNav .nbg{outline:#fff solid 2px}
#myjQueryNav a{display:block;margin:0 auto;text-transform:uppercase;width:45px;color:#fff;line-height:22px;position:relative;height:22px;z-index:20}
#myjQueryNav .current{background:#347e0d}
#myjQueryNav .current A{color:#fff}
.news-active{width:430px;height:300px;margin-left:4px;background:#f4ffff;border:1px solid #000;position:relative}
.news-active h3{width:100%;text-align:center;color:red;margin:15px 0}
.news-active p{width:370px;height:70px;margin:0;padding:0 10px}
.news-active span{line-height:20px}
.news-active .news-divline{width:400px;height:1px;border-top:1px dashed #000;margin:0 auto 10px}
.news-active ul{width:393px;padding:0;margin:0}
.news-active li{width:393px;list-style:none;padding:5px;height:20px}
.news-active li:hover{background:#b3f8ff}
.mail-connect,.work-build{background:#fff;width:1000px}
.news-active li a{color:#4b4344;margin-left:20px}
.news-active .news-more{position:absolute;top:15px;left:370px}
.mail-connect{height:100px}
.mail-connect li{margin:10px 10px 0 0}
.mail-connect img{border:none}
.work-build{height:370px}
.work-build-top{width:1000px;height:37px;background-image:url(../images/workbuild-top.png)}
.work-build-con{width:1000px;height:325px;background-image:url(../images/work-build_bg.png);background-position:0 -220px;padding-top:1px;position:relative}
.welcome,.work-area{position:absolute;overflow:hidden}
.work-view{width:694px;height:95px;margin:59px 0 0 152px;overflow:hidden;z-index:1}
.work-view li,.work-view ul{height:100%;width:694px}
.welcome li,.work-area li{float:left;margin-left:26px;background-repeat:no-repeat}
.work-view li{background-size:auto;background-position:0 -70px;display:none}
.view-list .imgOn,.work-area a{display:block}
.view-list{width:694px;height:95px}
.welcome{width:1000px;height:110px;top:68px;left:30px}
.welcome ul{width:1098px;height:66px;padding-left:10px}
.welcome li{width:90px;height:56px;line-height:15px;background-image:url(../images/welcome.png);font-size:12px;padding:20px 0 0 5px;font-family:Arial;visibility:hidden}
.work-area{width:1000px;height:110px;top:128px;left:0}
.work-area ul{width:1098px;height:100px;overflow:hidden;padding-left:10px}
.work-area li{width:96px;height:100px;z-index:10}
.work-area a{width:96px;height:100px}
.pagination .current,.pagination span{display:inline-block}
.work-area .churujing{background-image:url(../images/down-churujing.png);background-position:0 19px}
.work-area .churujing:hover{background-image:url(../images/stand-churujing.png);background-position:-3px 0}
.work-area .jindu{background-image:url(../images/down-jindu.png);background-position:2px 19px}
.work-area .jindu:hover{background-image:url(../images/stand-jindu.png);background-position:-1px 1px}
.work-area .fazhi{background-image:url(../images/down-fazhi.png);background-position:0 23px}
.work-area .fazhi:hover{background-image:url(../images/stand-fazhi.png);background-position:-5px 10px}
.work-area .huzheng{background-image:url(../images/down-huzhen.png);background-position:0 23px}
.work-area .huzheng:hover{background-image:url(../images/stand-huzheng.png);background-position:-3px 12px}
.work-area .jianguan{background-image:url(../images/down-jianguan.png);background-position:0 19px}
.work-area .jianguan:hover{background-image:url(../images/stand-jianguan.png);background-position:-4px 2px}
.work-area .jiaojing{background-image:url(../images/down-jiaojing.png);background-position:0 19px}
.work-area .jiaojing:hover{background-image:url(../images/stand-jiaojing.png);background-position:0 0}
.work-area .wangjian{background-image:url(../images/down-wangjian.png);background-position:0 9px}
.work-area .wangjian:hover{background-image:url(../images/stand-wangjian.png);background-position:0 9px}
.work-area .zhian{background-image:url(../images/down-zhian.png);background-position:0 19px}
.work-area .zhian:hover{background-image:url(../images/stand-zhian.png);background-position:-1px 0}
.work-area .xiaofang{background-image:url(../images/down-xiaofang.png);background-position:0 19px}
.work-area .xiaofang:hover{background-image:url(../images/stand-xiaofang.png);background-position:-4px 0}
.work-next,.work-prev{width:20px;height:80px;font-size:25px;line-height:80px;background:#838383;opacity:.5;filter:alpha(opacity=50);top:110px;position:absolute;text-align:center;font-weight:700}
.work-prev{left:5px}
.work-next{right:5px}
.work-next:hover,.work-prev:hover{background:#393939;cursor:pointer}
.build-bottom-logo{width:1000px;height:91px;margin-bottom:10px;background-image:url(../images/build-logo.gif)}
.feature-service{width:1000px;height:390px;margin-bottom:10px;background:url(../images/tesefuwu-bg.png) #fefdfd}
.bianmin-lbtn,.bianmin-rbtn{width:20px;height:60px}
.interaction,.sunshine-police{height:132px;float:left;padding-top:40px;background-repeat:no-repeat}
.bianmin-lbtn:hover,.bianmin-rbtn:hover{cursor:pointer;outline:#838383 solid 2px}
.sunshine-police{width:650px;margin:20px 0 0 -26px;background-image:url(../images/sunshine-bg.png);border:1px solid #e0e0e0;border-top:none}
.sunshine-police img{border:none;margin:10px 0 0 8px}
.sunshine-police img:hover{margin-bottom:-5px}
.interaction{width:338px;margin:20px 0 0 5px;background-image:url(../images/interaction-bg.png);border:1px solid #e0e0e0;border-top:none}
.interaction img{border:none;margin:13px 0 0 10px}
.interaction img:hover{margin-bottom:-5px}
.link-content{width:1000px;height:70px;background:#f0f0f0}
.fast-nav{width:150px;height:166px;background-image:url(../images/fast-nav.png);background-position:5px;position:absolute;top:400px;left:-119px}
.police-news-nav,.sunshine-nav,.work-build-nav{background-position:28px;background-repeat:no-repeat;height:166px}
.fast-nav p{width:20px;float:right;text-align:center;margin:40px 7px 0 0;color:#fff;font-size:14px}
.work-build-nav{width:119px;float:left;background-image:url(../images/work-build-nav.png)}
.work-build-nav p{margin-top:60px}
.work-build-nav p:hover{color:#000}
.police-news-nav{width:91px;float:left;background-image:url(../images/police-news-nav.png)}
.sunshine-nav{width:63px;float:left;background-image:url(../images/sunshine-nav.png)}
.home-nav{width:30px;height:166px;float:left;background:#1869A2;border-radius:0 8px 8px 0;box-shadow:1px 1px 2px #555}
.erweima{width:120px;position:fixed;bottom:20%;top:20%;left:50%;margin-left:520px}
.erweima img{margin:10px 0}
.content{width:1000px;height:inherit;margin:0 auto;font-size:14px;position:relative;background:#fff;padding-top:1px}
.child-menu{width:1000px;height:56px;background-image:url(../images/child-menu.png);position:absolute;top:-7px;left:0;z-index:10}
.child-menu ul{width:900px;height:50px;margin:5px auto}
.child-menu li{float:left;line-height:50px;margin-right:20px}
.notice-detail li,.page-point div,.page-point p{height:35px;line-height:35px}
.child-menu a{color:#909090}
.child-menu a:hover,.page-point a:hover{color:#e5840d}
.page-point{width:1000px;height:35px;background:#e6f0fd;margin-top:50px;border-bottom:1px solid #808183}
.page-point p{width:180px;margin-left:45px;text-align:center;float:left;font-weight:700}
.page-point a{font-weight:700}
.content-right{width:705px}
.interact-menu ul{margin-left:0}
.notice-detail{width:700px;border-bottom:1px dashed #000;margin-top:20px;padding-bottom:20px}
.notice-detail li{width:700px}
.notice-detail a{width:500px;height:21px}
.notice-detail a:hover,.notice-detail li:hover{color:#f7a029}
.notice-detail span{width:100px;height:20px;float:right}
.pagination{text-align:center;padding:15px}
.pagination .current,.pagination a{padding:5px 10px;color:#08c;background:#EDF6FB;border:1px solid #ccc}
.pagination a{margin:0 4px 0 0}
.pagination .current{margin:0 4px}
.pagination .current:hover,.pagination a:hover{color:#fff;background:#08c}
.pagination b{color:red}
.aside-left{width:210px;height:800px;float:left}
.interact-menu{width:186px;margin:25px 0 20px 25px;overflow:hidden}
.interact-menu p{width:183px;height:44px;text-align:center;line-height:30px;color:#fff;font-weight:700;font-size:16px;background:url(../images/sidemenu-bg.png) no-repeat}
.interact-menu ul{width:96%;height:auto;border:2px solid #288cc8;border-top:none}
.interact-menu li{height:46px;line-height:42px;font-size:16px;text-align:center;border-bottom:1px solid #c4c4c4;cursor:pointer}
.interact-menu a{color:#04568d}
.interact-menu a:hover{font-weight:700}
.content-right{margin:25px 0 0 20px;float:left;padding:30px}
.bottom-content{width:1000px;height:315px;margin:10px auto}
.bottom-branch a,.bottom-branch p{display:inline-block;height:40px;margin:0;color:#fff;line-height:40px}
.bottom-branch{width:1000px;height:40px;background:url(../images/bottom-branch-bg.png) #fff}
.bottom-branch p{width:190px;text-align:center}
.bottom-branch a{width:83px;text-align:center}
.friendly-link li,.friendly-link p{height:41px;line-height:41px;text-align:center;float:left}
.friendly-link{width:1000px;height:41px;background:#d9d9d9;border-top:4px solid #0a62be;margin-top:2px}
.friendly-link p{width:265px;margin:0;text-align:left;margin-left:38px;}
.friendly-link ul{float:left}
.friendly-link li{width:130px}
.friendly-link li:hover{background:#f0f0f0}
.link-content{float:left}
.link-content a{color:#000;line-height:45px;padding:0 30px;display:block;height:45px;width:auto;float:left}
.link-content a:hover{color:#0a62be}
.introduce-info{width:1000px;height:110px;padding-top:30px;background:#fff}
.introduce-info p{width:1000px;text-align:center;margin-bottom:10px}
.introduce-info a{color:#000}
.introduce-info a:hover{color:red}
.convenient-service{width:183px;height:300px;margin-left:25px}
.service-title{width:183px;height:30px;background:#55aaec;border-radius:5px;line-height:30px;font-size:16px;color:#fff}
.service-title span{margin-left:50px}
.service-title a{font-size:12px;color:#fff;margin-left:10px}
.service-title a:hover{color:#e5840d}
.menu-on{font-weight:700}
.clear{clear:both}
.notice-con h2{text-align:center;font-size:25px;padding:20px}
.edit-info{float:left;width:100%;height:20px;text-align:center;color:#999;font-size:13px}
.article-content{margin-top:30px}
.service-menu-items{width:183px;height:270px}
.service-menu-items li{width:183px;height:53px;margin-top:10px}
.service-menu-items img{float:left;margin-right:10px}
.service-menu-items a,.service-menu-items span{float:left;width:115px;height:25px;line-height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.service-menu-items span{color:#878787}
.service-menu-items a:hover{color:#e5840d}
.content-single-page{padding:20px 40px;min-height:400px}
