body,dd,dl,dt,img,li,table,td,tr,ul{margin:0;padding:0}
.map,.map-top{height:auto;overflow:hidden}
.map-top dd,.map-top dt{line-height:23px;float:left}
.map-MaxPic p,.map-top dd{text-align:center}
body{font-family:微软雅黑;color:#4b4344}
.cty-title,.cty-title a,.cty-title a:active,.cty-title a:visited{color:#19559e}
li{text-decoration:none;list-style:none}
img{border:none}
.map{width:1000px;background-color:#FFF}
.map-top{width:100%;margin:10px auto}
.map-top dt{font-size:14px;margin:0 10px}
.map-top dd{background:url(../images/map11.png) no-repeat;width:78px;height:23px;margin-right:10px}
.map-Img,.map-MaxPic{width:1000px;height:860px;overflow:hidden}
.map-MaxPic{background:url(../images/mapBG.png) no-repeat;padding:10px 0 0}
.bottom-content{margin:0}
.map-Img{z-index:1;position:relative;background:url(../images/map01.png) center top no-repeat}
.map-Img li{z-index:2}
.map-Img ul li #dis{display:none;border-top:solid 1px #e5e5e5}
.map-Img ul li a:active #dis,.map-Img ul li a:hover #dis,.map-Img ul li:hover #dis{display:block}
.cty-ws,.cty-yc{height:auto;overflow:hidden;background-color:#FFF;-moz-border-radius:10px;position:absolute;display:none;width:362px}
.cty-ws{border-radius:10px;top:200px;z-index:99}
.cty-yc{border-radius:10px;top:-100px;z-index:99;left:-200px}
.cty-ga,.cty-xx{height:auto;overflow:hidden;background-color:#FFF;-moz-border-radius:10px;position:absolute;display:none;top:-50px;z-index:99}
.cty-ga{width:362px;border-radius:10px;left:100px}
.cty-xx{width:213px;border-radius:10px;left:20px}
.cty-jk,.cty-zsyq{height:auto;overflow:hidden;-moz-border-radius:10px;z-index:99;left:0;background-color:#FFF;position:absolute;display:none}
.cty-jk{width:182px;border-radius:10px;top:50px}
.cty-zsyq{width:198px;border-radius:10px;top:50px}
.cty-hj,.cty-qf{height:auto;overflow:hidden;-moz-border-radius:10px;top:50px}
.cty-qf{width:274px;background-color:#FFF;border-radius:10px;position:absolute;display:none;z-index:999;left:20px}
.cty-hj,.cty-ls{background-color:#FFF;position:absolute;display:none;z-index:99;left:-100px}
.cty-hj{width:194px;border-radius:10px}
.cty-ls{width:362px;height:auto;overflow:hidden;-moz-border-radius:10px;border-radius:10px;top:100px}
.cty-List,.cty-title{width:100%;height:auto;overflow:hidden}
.cty-title{text-align:left;margin:10px auto;padding-left:10px;font-size:18px;font-weight:700}
.cty-List{margin:0 auto}
.cty-List li{background:url(../images/map13.png) no-repeat;width:80px;height:21px;line-height:21px;font-size:12px;float:left;margin:0 0 10px 8px;text-align:center;cursor:hand}
.cty-List li,.cty-List li a{color:#323232;text-decoration:none}