a,body,li{color:#4b4344}
a,body,img,li,ul{margin:0;padding:0}
.main,.nav-search{position:relative}
.banner-nav li,.mail-connect li,.nav-search,.nav-weather,.news-active,.news-carousel,.public-logo,.top-nav-img,.user-action,.view-window{float:left}
#myjQuery,#myjQueryContent,#myjQueryNav,.banner,.main,.news-carousel{overflow:hidden}
.bottom-branch a,.introduce-info a,.link-content a,.news-active a,.police-style a,.user-action a,a,li{text-decoration:none}
body{font-family:微软雅黑}
a,li{list-style:none}
img{border:none}
.content,.head,.main{margin:0 auto}
.main{width:100%;height:2041px;background:url(../images/mainbackground.png) fixed}
.content,.head,.top-nav{width:1000px}
.head{height:248px;background:url(../images/top-logobg.png) 0 32px no-repeat}
.content{height:1773px;font-size:14px}
.top-nav{height:38px;background-image:url(../images/top-nav-bg.png)}
.user-action{width:300px;height:38px;margin-right:20px}
.top-nav-img{width:21px;height:21px;margin:0 10px 0 35px;padding-top:9px}
.user-action a{color:#fff;line-height:38px;margin-right:20px}
.user-action a:hover{color:red}
.nav-weather{width:375px;height:38px;line-height:38px;vertical-align:middle;color:#fff}
.nav-search{padding-top:8px}
.nav-search .search-box{width:135px;padding-left:30px;border-radius:8px;outline:0}
.nav-search .search-btn{background-color:#f7a52c;color:#fff;border-radius:5px;font-weight:700;outline:0}
.search-logo{width:16px;height:17px;position:absolute;top:12px;left:10px}
.top-logo{width:100%;height:165px;margin:0;padding:0;position:relative}
.top-logo .public-logo{width:600px;height:165px;background-image:url(../images/banner-logo_1.png);background-repeat:no-repeat;background-position:-33px -30px}
.public-logo img{width:339px;height:89px;margin:40px 0 0 250px;opacity:.1}
.top-logo .view-window{width:325px;height:165px;position:relative;margin-left:50px}
.banner,.banner-sign,.imgList{width:350px;height:165px}
.imgList{z-index:10}
.imgList li{display:none}
.imgList .imgOn{display:inline}
.banner-sign{position:absolute;left:600px;top:0}
.banner-nav{width:1000px;height:45px}
.banner-nav li{width:167px;height:45px;background:#2f6ebe;line-height:45px;font-size:20px;font-weight:700;font-family:Arial,Verdana,Sans-serif;color:#fff;text-align:center}
.banner-nav li.on,.banner-nav li:hover{background:#e5840d}
.survey-news{width:1000px;height:302px;background:#fff;padding-top:13px}
.survey-content{width:1000px;height:300px;position:relative}
.news-carousel{width:560px;height:300px}
#myjQueryNav img,#myjQueryNav li{width:80px;height:40px}
#myjQuery{background:#000;width:560px;position:relative;height:300px}
#myjQueryContent{width:560px;height:300px}
#myjQueryContent div{position:absolute;height:300px}
#myjQueryContent .smask{z-index:-1}
#myjQueryContent img{width:560px;height:300px;border:0}
#myjQueryNav{display:block;width:560px;height:40px;position:absolute;top:260px;left:0;z-index:5;background:rgba(0,0,0,.5);text-align:center}
#myjQueryNav li{display:inline;cursor:pointer;text-align:center;margin-left:22px;background:#666;color:#fff}
#myjQueryNav .nbg{outline:#fff solid 2px}
#myjQueryNav a{display:block;margin:0 auto;text-transform:uppercase;width:45px;color:#fff;line-height:22px;position:relative;height:22px;z-index:20}
#myjQueryNav .current{background:#347e0d;margin-left:0px;}
#myjQueryNav .current A{color:#fff}
.news-active{width:430px;height:300px;margin-left:4px;background:#f4ffff;border:1px solid #000;position:relative}
.news-active h3{width:100%;text-align:center;color:red;margin:15px 0}
.news-active p{width:370px;height:70px;margin:0;padding:0 10px}
.news-active span{line-height:20px}
.news-active .news-divline{width:400px;height:1px;border-top:1px dashed #000;margin:0 auto 10px}
.news-active ul{width:393px;padding:0;margin:0}
.news-active li{width:393px;list-style:none;padding:5px;height:20px}
.news-active li:hover{background:#b3f8ff}
.mail-connect,.police-news{background:#fff;width:1000px}
.news-active li a{margin-left:20px}
.news-active .news-more{position:absolute;top:15px;left:370px}
.mail-connect{height:90px}
.mail-connect li{margin:5px 9px 0 0}
.mail-connect li:first-child{margin-left:1px}
.mail-connect img{border:none}
.police-news{height:852px;padding-top:5px}
.notice-news,.police-active{background-image:url(../images/news-bg1.png)}
.news-top{width:1000px;height:520px}
.police-news h3,.police-style h3{width:160px;height:35px;line-height:35px;text-align:center;margin:0;color:#fff;float:left}
.more-news{margin:10px 5px 0 0;float:right}
.police-news a:hover{color:#286bca}
.notice-news li,.police-active li,.police-case li,.police-report li,.public-collect li{width:100%;height:19px;list-style:inherit;font-size:14px;color:#2782e0;margin:6px}
.notice-news-con,.police-active-con,.police-case-con,.police-report-con,.public-collect-con{width:265px;height:13px;line-height:13px;vertical-align:middle;text-decoration:none;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.notice-news-time,.police-active-time,.police-case-time,.police-report-time,.public-collect-time{width:40px;height:13px;line-height:13px;text-align:center;display:inline-block;margin:-3px 0 0 20px;color:#000}
.notice-news{width:369px;height:255px;background-repeat:no-repeat;float:left;margin-left:3px}
.notice-news ul,.police-active ul,.police-report ul,.public-collect ul{width:349px;height:215px;margin:45px 0 0 19px}
.police-active,.police-case{height:255px;margin-left:7px;background-repeat:no-repeat;float:left}
.police-active{width:369px}
.police-case{width:242px;background-image:url(../images/news-bg3.png)}
.police-case ul{width:222px;height:215px;margin:45px 0 0 19px}
.police-case-con{width:150px}
.police-report,.public-collect{width:369px;height:255px;background-image:url(../images/news-bg1.png)}
.public-collect{background-repeat:no-repeat;float:left;margin:7px 0 0 3px}
.police-report,.police-video{margin:7px 0 0 7px;background-repeat:no-repeat;float:left}
.police-report-small{height:214px;border-bottom:1px solid #ccc}
.police-video{width:242px;height:255px;background-image:url(../images/news-bg3.png)}
.news-mid img{margin:10px 0 7px 2px}
.investigate-online,.visit-online{width:369px;height:221px;background-image:url(../images/news-bg2.png);background-repeat:no-repeat;float:left;margin-left:3px}
.investigate-content,.visit-content{width:345px;height:160px;margin:50px 0 0 19px;overflow:auto}
.investigate-content p,.visit-content p{width:310px;margin:5px 0;font-size:14px}
.fast-link{width:241px;height:221px;float:left;margin-left:7px;margin-top:6px}
.fast-link p{width:241px;height:68px;margin:2px 0 5px;font-size:20px;font-weight:700;color:#fff;text-align:center;line-height:68px}
.fast-link p:hover{font-size:25px;color:#000}
.style-bg{width:1000px;height:247px;background:#fff}
.police-style{width:988px;height:227px;background-image:url(../images/police-style-bg.png);margin:0 6px;overflow:hidden;border-right:1px solid #c9c9c9}
.police-style ul{width:1350px;height:180px;margin:45px 2px}
.police-style li{float:left;margin-right:14px;margin-left:1px}
.police-style a{color:#000;font-size:14px}
.police-style img{width:185px;height:145px}
.police-style p{width:185px;height:20px;margin:0;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.bottom-content{width:1000px;height:315px;margin:10px auto}
.bottom-branch a,.bottom-branch p{display:inline-block;height:40px;margin:0;color:#fff;line-height:40px}
.bottom-branch{width:1000px;height:40px;background:url(../images/bottom-branch-bg.png) #fff}
.bottom-branch p{width:190px;text-align:center}
.bottom-branch a{width:83px;text-align:center}
.friendly-link li,.friendly-link p{height:41px;line-height:41px;float:left;text-align:center}
.friendly-link{width:1000px;height:41px;background:#d9d9d9;border-top:4px solid #0a62be;margin-top:2px}
.friendly-link li:hover,.link-content{background:#f0f0f0}
.friendly-link p{width:265px;margin:0}
.friendly-link ul{float:left}
.friendly-link li{width:130px}
.link-content{float:left}
.link-content a{color:#000;line-height:45px;padding:0 30px;display:block;height:45px;width:auto;float:left}
.link-content a:hover{color:#0a62be}
.introduce-info{width:1000px;height:110px;padding-top:30px;background:#fff}
.introduce-info p{width:1000px;text-align:center;margin-bottom:10px}
.introduce-info a{color:#000}
.introduce-info a:hover{color:red}
.fast-nav{width:150px;height:166px;background-image:url(../images/fast-nav.png);background-position:5px;position:absolute;top:400px;left:-119px}
.police-news-nav,.sunshine-nav,.work-build-nav{background-position:28px;background-repeat:no-repeat}
.fast-nav p{width:20px;float:right;text-align:center;margin:40px 7px 0 0;color:#fff;font-size:14px}
.home-nav,.police-news-nav,.sunshine-nav,.work-build-nav{height:166px;float:left}
.work-build-nav{width:119px;background-image:url(../images/work-build-nav.png)}
.work-build-nav p{margin-top:60px}
.work-build-nav p:hover{color:#000}
.police-news-nav{width:91px;background-image:url(../images/police-news-nav.png)}
.sunshine-nav{width:63px;background-image:url(../images/sunshine-nav.png)}
.home-nav{width:30px;background:#1869A2;border-radius:0 8px 8px 0;box-shadow:1px 1px 2px #555}
.erweima{width:120px;position:fixed;bottom:20%;top:20%;left:50%;margin-left:520px}
.erweima img{margin:10px 0}
