a,body,img,li,p,ul{margin:0;padding:0}
.handle-notice,.lost-notice,.main,.work-area,.work-area ul,.work-view{overflow:hidden}
body{font-family:΢���ź�}
a,li{text-decoration:none;list-style:none}
img{border:none}
.handle-notice p,.lost-nav-on{border-bottom:2px #2c8bc7 solid}
.main{width:100%;height:1514px;margin:0 auto;position:relative;background-image:url(../images/mainbackground.png)}
.move-top{width:60px;height:60px;background-image:url(../images/top.png);position:fixed;bottom:2%;left:50%;margin-left:540px}
.head{width:1300px;height:36px;background:#2e2e2f}
.banner-logo,.content{background-repeat:no-repeat}
.head p{width:1000px;height:36px;margin:0 auto;line-height:36px;color:#fff}
.head a{color:#fff;margin:0 4px}
.head a:hover{color:red}
.head span{margin-left:20px}
.content{width:1000px;height:1478px;margin:0 auto;font-size:16px;background-image:url(../images/content-bg.png);background-position:0 36px}
.banner-logo{width:100%;height:122px;background-image:url(../images/banner_logo.png);background-position:20px 20px}
.banner-logo a{float:right;margin:10px 20px 0 0}
.banner-logo img{width:85px;height:105px}
.top-nav{width:1000px;height:185px}
.top-nav img{margin:20px 27px}
.work-build{width:1000px;height:333px;background:#fff}
.work-build-con{width:1000px;height:325px;background-image:url(../images/work-build_bg.png);background-position:0 -220px;padding-top:1px;position:relative}
.work-view{width:694px;height:95px;margin:59px 0 0 152px;z-index:1}
.work-view li,.work-view ul{height:100%;width:694px}
.work-view li{background-size:auto;background-position:0 -70px;display:none}
.view-list .imgOn,.work-area a{display:block}
.view-list{width:694px;height:95px}
.work-area{width:1000px;height:110px;position:absolute;top:128px;left:0}
.work-area ul{width:1098px;height:100px;padding-left:10px}
.work-area li{width:96px;height:100px;float:left;margin-left:26px;background-repeat:no-repeat;z-index:10}
.work-area a{width:96px;height:100px}
.work-area .churujing{background-image:url(../images/down-churujing.png);background-position:0 19px}
.work-area .churujing:hover{background-image:url(../images/stand-churujing.png);background-position:-3px 0}
.work-area .jindu{background-image:url(../images/down-jindu.png);background-position:1px 18px}
.work-area .jindu:hover{background-image:url(../images/stand-jindu.png);background-position:-3px -1px}
.work-area .fazhi{background-image:url(../images/down-fazhi.png);background-position:0 22px}
.work-area .fazhi:hover{background-image:url(../images/stand-fazhi.png);background-position:-5px 9px}
.work-area .huzheng{background-image:url(../images/down-huzhen.png);background-position:0 21px}
.work-area .huzheng:hover{background-image:url(../images/stand-huzheng.png);background-position:-3px 10px}
.work-area .jianguan{background-image:url(../images/down-jianguan.png);background-position:0 18px}
.work-area .jianguan:hover{background-image:url(../images/stand-jianguan.png);background-position:-4px 1px}
.work-area .jiaojing{background-image:url(../images/down-jiaojing.png);background-position:0 17px}
.work-area .jiaojing:hover{background-image:url(../images/stand-jiaojing.png);background-position:0 -2px}
.work-area .wangjian{background-image:url(../images/down-wangjian.png);background-position:0 22px}
.work-area .wangjian:hover{background-image:url(../images/stand-wangjian.png);background-position:0 9px}
.work-area .zhian{background-image:url(../images/down-zhian.png);background-position:0 19px}
.work-area .zhian:hover{background-image:url(../images/stand-zhian.png);background-position:-1px 0}
.work-area .xiaofang{background-image:url(../images/down-xiaofang.png);background-position:0 19px}
.work-area .xiaofang:hover{background-image:url(../images/stand-xiaofang.png);background-position:-4px 0}
.work-next,.work-prev{width:20px;height:80px;font-size:25px;line-height:80px;background:#838383;opacity:.5;filter:alpha(opacity=50);position:absolute;top:110px;font-weight:700;text-align:center}
.work-prev{left:5px}
.work-next{right:5px}
.work-next:hover,.work-prev:hover{background:#393939;cursor:pointer}
.build-bottom-logo{width:1000px;height:91px;margin-bottom:10px;background-image:url(../images/build-logo.png)}
.fast-service{width:1000px;height:277px;background-image:url(../images/service-bg.png);background-repeat:no-repeat;background-position:1px 0;padding-top:35px}
.fast-service a{width:108px;height:120px;text-align:center;float:left;position:relative;color:#4690c6;font-weight:700}
.fast-service a:hover{color:red}
.fast-service span{width:110px;position:absolute;left:0;bottom:0;text-align:center}
.bottom-notice{width:1000px;height:260px;margin-top:10px}
.handle-notice{width:465px;height:260px;float:left;background:#eee;margin-right:3px}
.handle-notice p{width:90px;margin:10px;font-weight:700;text-align:center}
.handle-notice table{width:100%;font-size:12px}
.handle-notice thead{color:#5c9ac5;background:#d6dde0}
.handle-notice th{padding:5px 0}
.handle-notice td{text-align:center;padding:4px 0}
.lost-notice{width:329px;height:260px;float:left;background:#eee;margin-right:3px}
.lost-nav{width:329px;height:40px}
.lost-nav p{width:80px;margin:10px 5px;font-weight:700;text-align:center;float:left}
.lost-nav p:hover{cursor:auto}
.lost-nav a{float:right;margin:10px;color:#2c8bc7;font-weight:700}
.lost-content,.pickup-content{width:320px;height:210px;font-size:12px;margin-left:6px}
.lost-nav a:hover{color:red}
.lost-content{display:none}
.pickup-detail{display:inline-block;width:250px;height:24px;line-height:24px}
.count-notice{width:200px;height:260px;float:left;background:#eee}
.search-box,.search-btn,.total-title{background:#657eb4}
.search-box{width:180px;height:31px;padding:2px;margin:6px;position:relative}
.search-btn,.search-key{height:30px;line-height:30px}
.search-box input{margin:0;padding:0;border:0;outline:0}
.search-key{width:130px;position:absolute;top:2px;left:2px}
.search-btn{width:40px;font-weight:bolder;float:right;color:#fff}
.search-btn:hover{cursor:pointer}
.data-total{width:200px;height:185px;margin-top:9px;border-top:2px solid #fff}
.data-total span{width:100%;text-align:center;display:inline-block}
.total-left{width:107px;height:185px;float:left;color:#fff}
.total-title{width:107px;height:30px;line-height:30px;text-align:center}
.total-num{width:107px;height:80px;background:#7ba9bf}
.regist-num{width:107px;height:75px;background:#8ebbce}
.total-right{width:93px;height:185px;float:left;color:#fff}
.handle-num{width:93px;height:92px;background:#b4becf}
.online-num{width:93px;height:93px;background:#cee4dc}
.introduce-info{width:1000px;height:80px;margin-top:30px}
.introduce-info p{width:1000px;text-align:center;margin:10px}
.introduce-info a{text-decoration:none;color:#000}
.introduce-info a:hover{color:red}
.fast-nav{width:150px;height:166px;background-image:url(../images/fast-nav.png);background-position:5px;position:absolute;top:400px;left:-119px}
.police-news-nav,.sunshine-nav,.work-build-nav{background-position:28px;background-repeat:no-repeat}
.fast-nav p{width:20px;float:right;text-align:center;margin:40px 7px 0 0;color:#fff;font-size:14px}
.home-nav,.police-news-nav,.sunshine-nav,.work-build-nav{height:166px;float:left}
.work-build-nav{width:119px;background-image:url(../images/work-build-nav.png)}
.work-build-nav p{margin-top:60px}
.work-build-nav p:hover{color:#000}
.police-news-nav{width:91px;background-image:url(../images/police-news-nav.png)}
.sunshine-nav{width:63px;background-image:url(../images/sunshine-nav.png)}
.home-nav{width:30px;background:#1869A2;border-radius:0 8px 8px 0;box-shadow:1px 1px 2px #555}
